@media only screen and (max-width: 768px) {
  body {
    margin-inline: 20px;
  }

  hr {
    margin: 0 -20px !important;
  }

  .header .header-left .login span:nth-of-type(2),
  .header .header-left .login a:nth-of-type(2) {
    display: none;
  }

  .header .header-left > span:nth-of-type(1),
  .header .header-left > span:nth-of-type(2) {
    display: none;
  }

  .header .header-right {
    gap: 1rem;
  }

  .header .header-right > span:nth-of-type(1),
  .header .header-right > span:nth-of-type(2) {
    display: none;
  }

  .search {
    gap: 1rem;
  }

  .search .search-category,
  .search button,
  .search .search-advanced {
    display: none;
  }

  .search .search-bar {
    flex-direction: row-reverse;
    padding-inline: 0.5rem;
  }

  .menu {
    gap: 1rem;
    margin-inline: 0;
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .cover {
    margin-bottom: 1rem;
  }

  .cover .cover-left {
    width: 100%;
    margin-inline: -20px;
    padding: 2rem 3rem;
  }

  .cover .cover-right {
    display: none;
  }

  .row {
    gap: 1rem;
    padding-block: 1.5rem;
  }

  .row .row-list {
    justify-content: space-between;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
  }

  .row .row-list .row-item {
    gap: 0.5rem;
  }

  .row .row-list .row-item img {
    width: 120px;
    height: 120px;
  }

  .row .row-list .row-item span {
    white-space: nowrap;
  }

  .footer-hr {
    margin-top: 1rem;
  }

  .map {
    flex-direction: column;
    gap: 1.25rem;
    margin-block: 1.5rem;
  }

  .map .map-column {
    gap: 0.75rem;
  }

  .map .map-column br {
    display: none;
  }

  .map .map-column h4:nth-of-type(2) {
    margin-top: 0.5rem;
  }

  .footer {
    flex-wrap: wrap;
  }
}
